*
{ 
    margin: 0; 
}
a
{ 
    text-decoration: none; 
    color: #000; 
}
.conteneur
{ 
    margin: 0 auto;
    max-width: 1170px; 
}
/**************************************************** HAUT ************************************************/
header 
{ 
    background: #fff; 
    padding: 5px; 
    text-align: center; 
}
header  span
{ 
    color: #000000; 
    font-weight: bold; 
    text-transform: uppercase; 
    margin-right: 5%; 
}
header  nav
{ 
    display: inline; 
}
header  a
{ 
    color: #000000; 
    text-decoration: none; 
    padding: 5px; 
}
header  nav  a:hover
{ 
    background: #04baf6; 
}
/**************************************************** MILIEU ************************************************/
section
{ 
    padding: 30px; 
    min-height: 800px; 
}
/**************************************************** BAS ************************************************/
footer
{ 
    background: #000; 
    color: white; 
    text-align: center; 
    padding: 7px 0;
}
/**************************************************** GENERAL ************************************************/
.erreur
{ 
    background: #ff0000; 
    padding: 5px; 
    margin: 5px; 
}
.validation
{
    background: #669933; 
    padding: 5px; 
    margin: 5px; 
}

/**********************************************marketplace ************************************************/   
.marketplace-gauche
{ 
    float: left; 
    background: #f2f2f2; 
    min-height: 500px; 
    margin-right: 10%; 
    padding-top: 10px; 
    text-align: center; 
}
.marketplace-gauche  ul
{ 
    list-style: none; 
    padding: 0; 
}
.marketplace-gauche  ul  li  a
{ 
    display: block; 
    padding: 10px; 
}
.marketplace-gauche  ul  li  a:hover
{ 
    background: #04baf6; 
    color: #fff; 
}
.marketplace-droite
{
    float: left;
}
.marketplace-template
{ 
    float: left; 
    text-align: center; 
    padding: 5%; 
    border-bottom: 1px solid #c0c0c0; 
}
.marketplace-template:hover
{ 
    background: #c0c0c0; 
}
/****************************FORMULAIRE************************/
body
{
    background: #67BE4B;
}
#conteneur
{
    width:400px;
    margin:0 auto;
    margin-top:10%;
}

form 
{
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#conteneur h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

